---
// @ts-ignore
import { Icon } from "astro-icon/components"

const features = [
  {
    title: "Broaden Your News Perspective",
    description:
      "Access diverse viewpoints by comparing news from multiple sources across the globe.",
    icon: "bx:world",
  },
  {
    title: "Effortless Access to Alternative Sources",
    description:
      "Quickly find local and international alternatives for the news you’re reading, all in one click.",
    icon: "bx:bxs-news",
  },
  {
    title: "Stay Informed with AI-Generated Summaries",
    description:
      "Get concise, AI-powered summaries that deliver key points without the clutter.",
    icon: "bx:bxs-message-alt-detail",
  },
  {
    title: "Seamless Multilingual News Translation",
    description:
      "Read news from around the world, with instant translations to English for easy understanding.",
    icon: "bx:bxs-flag-alt",
  },
  {
    title: "Smart Tagging for Quick Navigation",
    description:
      "Discover related news faster with intelligent tags that group similar articles and topics.",
    icon: "bx:bxs-purchase-tag",
  },
  {
    title: "Save Time and Maximize Productivity",
    description:
      "Stay up-to-date with less effort—spend less time searching and more time reading what matters.",
    icon: "bx:bxs-time",
  },
]
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    All the Tools You Need to Read News Smarter
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Discover, compare, and understand the news like never before.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
